# -الفصل -1

## print() (Function الفانكشن) n-1

In [52]:
print('I started programming!')

I started programming!

In [53]:
print('He says:"Hello mom!"')

He says:"Hello mom!"

In [56]:
print("He says:"Hello mom!"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (181778668.py, line 1)

In [57]:
print("Bonjour c'est moi")

Bonjour c'est moi

In [58]:
print('Bonjour c'est moi')

SyntaxError: unterminated string literal (detected at line 1) (4019301121.py, line 1)

## (Value الڤاليو) و (Variable الڤاريابل) n-2

In [59]:
country_name = "Egypt"
print(country_name)

Egypt

In [60]:
country_name = "Egypt"
print("country_name")

country_name

In [61]:
country name = "KSA"

SyntaxError: invalid syntax (2147189351.py, line 1)

In [62]:
1country_name = "KSA"

SyntaxError: invalid decimal literal (2388632982.py, line 1)

In [63]:
name = 'Fahed'
name = 'Hessa'
print(name)

Hessa

## .upper() و .lower() و .title() (Method الميثود) n-3

In [64]:
drink = "water"
print(drink)
print(drink.upper())

water
WATER

In [65]:
name_1 = "MOHAMMED"
name_2 = name_1.lower()
print(name_2)

mohammed

In [66]:
participants = "jOUjoU samiR, SAlma ZahrAni, TaRek BeiRuti"
print(participants.title())

Joujou Samir, Salma Zahrani, Tarek Beiruti

# -الفصل -2

## (نمبر Number) العدد n-1

In [67]:
apples = 8
print(apples)

8

In [68]:
apples = "8"
print(apples)

8

## حالات استخدام عامل الجمع + بين الأعداد/(نمبر)، وبين النصوص/(سترينچ) n-2

In [69]:
eggs = 4 + 4
print(eggs)

8

In [70]:
first_name = "Nadia"
nickname = "Nado"
print(first_name + " " + nickname)

Nadia Nado

In [71]:
print(first_name + eggs)

TypeError: can only concatenate str (not "int") to str

## str() و (الفانكشن) int() (الفانكشن) n-3

In [72]:
age = 34
print('I am' + ' ' + str(age) + ' years old.')

I am 34 years old.

In [73]:
price = "10"
delivery = "5"
total_cost = int(price) + int(delivery)
print(total_cost)

15

## أنواع العدد في (پايثون) وبعض العمليات الحسابية الأساسية n-4

In [74]:
a = 2
b = 5
c = 0.5

In [75]:
print(a + b)

7

In [76]:
print(b - a)

3

In [77]:
print(a / c)

4.0

In [78]:
print(b ** a)

25

In [79]:
print((a + b) * b)

35

## أوامر تتعلق بالتعامل مع (السترينچ) n-5

### لجمع-النصوص/(كومباينينچ) والفصل بينها بفراغ print() استخدام رمز الفاصلة ( , ) بين هلالي (الفانكش) n-5.1

In [80]:
first_name = "Dwayne"
last_name = "Johnson"
print(first_name, last_name)

Dwayne Johnson

In [81]:
print('Qatar','2022','big event!')

Qatar 2022 big event!

### \n والنزول إلى سطر جديد \t مسافة البدء n-5.2

In [82]:
print('Hello')
print('\tHello')

Hello
	Hello

In [83]:
print("Hello...")
print("Where are you?!")
print("Are you there?")

Hello...
Where are you?!
Are you there?

In [84]:
print("Hello...\nWhere are you?!\nAre you there?")

Hello...
Where are you?!
Are you there?

In [85]:
print('\tHello\nWhat is your name?')

	Hello
What is your name?

### """ """ تعريف (السترينچ) بالطريقة السداسية n-5.3

In [86]:
print("""I'm not sure, is it for "Bob"?""")

I'm not sure, is it for "Bob"?

In [87]:
print("I'm not sure, is it for "Bob"?")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3845445281.py, line 1)

In [88]:
print('I'm not sure, is it for "Bob"?')

SyntaxError: unterminated string literal (detected at line 1) (3124690855.py, line 1)

In [89]:
print("""Hello
How are you?
I miss you!""")

Hello
How are you?
I miss you!

In [90]:
message = """Hello
How are you?
I miss you!"""
print(message)

Hello
How are you?
I miss you!

In [91]:
print('''C'est pour moi et c'est pour "Bob"''')

C'est pour moi et c'est pour "Bob"

In [92]:
print("""C'est pour moi et c'est pour "Bob"""")

SyntaxError: unterminated string literal (detected at line 1) (153323664.py, line 1)

### .lstrip() .rstrip() .strip() إزالة الفراغات عن أطراف (السترينچ) n-5.4

In [93]:
name_1 = "  Amal Msakni "
print(name_1.strip())

Amal Msakni

In [94]:
name_2 = "     Marwan Al Hakami     "
print(name_2.rstrip())

     Marwan Al Hakami

In [95]:
name_3 = "     Marwan Al Hakami     "
print(name_3.lstrip())

Marwan Al Hakami

### استخدام رمز الشرطة العكسية (\\) لتجاوز الرموز الخاصة أو تجزئة أسطر (الكود) الطويلة إلى عدة أسطر n-5.5

#### تجاوز الرموز الخاصة

In [96]:
print('C\'est bon')

C'est bon

In [97]:
print('\\ backslash')

\ backslash

In [98]:
print('\\t is a special character')

\t is a special character

#### تجزئة سطر (الكود) الطويل إلى عدة أسطر

In [99]:
a = ("Python has been an important part of Google since the beginning, \
and remains so as the system grows and evolves. Today dozens of Google \
engineers use Python, and we're looking for more people with skills in \
this language. Peter Norvig")

In [100]:
print(a)

Python has been an important part of Google since the beginning, and remains so as the system grows and evolves. Today dozens of Google engineers use Python, and we're looking for more people with skills in this language. Peter Norvig

## (#) إضافة التعليقات إلى (الكود) n-6

In [101]:
m = 1000 #weight is grams
p = 5 #price in USD
print(str(m), str(p)) #grams, USD

1000 5

## تمرين الفصل الثاني

In [102]:
print("\tPython \"quotes\":\n\
Coding like poetry should be short and concise. - Santosh Kalwar\n\
First, solve the problem. Then, write the code. - John Johnson\n\
Make it work, make it right, make it fast. - Kent Beck\n\
\\t \\n\n\
Python\t\\\n\
Python.")

	Python "quotes":
Coding like poetry should be short and concise. - Santosh Kalwar
First, solve the problem. Then, write the code. - John Johnson
Make it work, make it right, make it fast. - Kent Beck
\t \n
Python	\
Python.

# -الفصل -3

## مقدمة إلى اللوائح/تعريف اللائحة n-1

In [103]:
food = ["Bread", "Potato", "Tomato", "Cucumber", "Salt", "Olive oil"]

### تراتبية عناصر اللائحة و (كود) العنصر n-1.1

In [104]:
print(food[1])

Potato

#### الترقيم العكسي لعناصر اللائحة

In [105]:
print(food[0].upper() + " " + food[-2].lower())

BREAD salt

### تعديل اللوائح n-1.2

#### إضافة العناصر إلى اللائحة n-1.2.i

##### .append() إضافة عنصر جديد في آخر اللائحة بواسطة (الميثود) n-1.2.i.a

In [106]:
hotel_guests = ["Ahmad", "Sali", "Dana"]
hotel_guests.append("Morad")
print(hotel_guests)

['Ahmad', 'Sali', 'Dana', 'Morad']

##### .insert() إضافة عنصر جديد في موضع محدد من اللائحة بواسطة (الميثود) n-1.2.i.b

In [107]:
hotel_guests.insert(2, "Saud")
print(hotel_guests)

['Ahmad', 'Sali', 'Saud', 'Dana', 'Morad']

#### حذف العناصر من اللائحة n-1.2.ii

##### .remove() حذف عنصر محدد من اللائحة بحسب (الڤاليو) بواسطة (الميثود) n-1.2.ii.a

In [108]:
hotel_guests.remove("Dana")
print(hotel_guests)

['Ahmad', 'Sali', 'Saud', 'Morad']

##### del حذف عنصر محدد من اللائحة بحسب رقم ترتيبه n-1.2.ii.b

In [109]:
del hotel_guests[0]
print(hotel_guests)

['Sali', 'Saud', 'Morad']

##### .pop() حذف عنصر محدد من اللائحة مع امكانية تخزينه بواسطة (الميثود) n-1.2.ii.c

###### حذف العنصر الأخير من اللائحة

In [110]:
guest = hotel_guests.pop()
print(hotel_guests)
print(guest)

['Sali', 'Saud']
Morad

###### حذف عنصر محدد من اللائحة

In [111]:
name_list = ['Samir', 'Layla', 'Hind', 'Hassan']
name = name_list.pop(2)
print(name_list)
print(name)

['Samir', 'Layla', 'Hassan']
Hind

### تعديل عنصر محدد من اللائحة بواسطة (كود) العنصر n-1.3

In [112]:
name_list = ['Mia', 'Eva', 'Sam']
name_list[2] = 'Anas'
print(name_list)

['Mia', 'Eva', 'Anas']

### إعادة ترتيب عناصر اللائحة n-1.4

#### .sort() إعادة ترتيب عناصر اللائحة بشكل تصاعدي أو تنازلي بواسطة (الميثود) n-1.4.i

##### إعادة ترتيب عناصر اللائحة بشكل تصاعدي

###### -مثال -1

In [113]:
names = ["Nadia Al Khatib", "Basel Masalkhi", "Malek Younos", "Khaled Hankir"]
names.sort()
print(names)

['Basel Masalkhi', 'Khaled Hankir', 'Malek Younos', 'Nadia Al Khatib']

###### -مثال -2

In [114]:
ages = [7, 39, 20, 52]
ages.sort()
print(ages)

[7, 20, 39, 52]

##### إعادة ترتيب عناصر اللائحة بشكل تنازلي

In [115]:
names = ["Nadia Al Khatib", "Basel Masalkhi", "Malek Younos", "Khaled Hankir"]
ages = [7, 39, 20, 52]
names.sort(reverse = True)
ages.sort(reverse = True)
print(names)
print(ages)

['Nadia Al Khatib', 'Malek Younos', 'Khaled Hankir', 'Basel Masalkhi']
[52, 39, 20, 7]

#### sorted() انشاء نسخة عن اللائحة، وترتيبها بشكل تصاعدي أو تنازلي بواسطة (الفانكشن) n-1.4.ii

##### -مثال -1

In [116]:
names = ["Nadia Al Khatib", "Basel Masalkhi", "Malek Younos"]
sorted_names = sorted(names)
print(sorted_names)
print(names)

['Basel Masalkhi', 'Malek Younos', 'Nadia Al Khatib']
['Nadia Al Khatib', 'Basel Masalkhi', 'Malek Younos']

##### -مثال -2

In [117]:
ages = [7, 39, 20, 52]
sorted_ages = sorted(ages, reverse = True)
print(sorted_ages)
print(ages)

[52, 39, 20, 7]
[7, 39, 20, 52]

#### .reverse() عكس ترتيب عناصر اللائحة بواسطة (الميثود) n-1.4.iii

In [118]:
absence_list = ["Majed", "Alanoud", "Khodor", "Hayfa"]
absence_list.reverse()
print(absence_list)

['Hayfa', 'Khodor', 'Alanoud', 'Majed']

#### معايير تتعلق بالترتيب n-1.4.iv

##### تأخير الحرف الكبير عن الحرف الصغير في الترتيب

In [119]:
names = ['ahmad', 'hani', 'Karim', 'Dany', 'Xavi', 'Soha']
names.sort()
print(names)

['Dany', 'Karim', 'Soha', 'Xavi', 'ahmad', 'hani']

## (فور لوپ for loop) for أمر التكرار n-2

In [120]:
ticket_holders = ["David Beckham", "Ronaldinho", "Miroslav Klose"]
for each_holder in ticket_holders:
    print(each_holder)

David Beckham
Ronaldinho
Miroslav Klose

### مثال آخر

In [121]:
clients = ["Antoine", "Richard", "Ramzi"]
message = ", this is to confirm that your recent ticket has been resolved."
for client in clients:
    print("Dear " + client + message)

Dear Antoine, this is to confirm that your recent ticket has been resolved.
Dear Richard, this is to confirm that your recent ticket has been resolved.
Dear Ramzi, this is to confirm that your recent ticket has been resolved.

## range() (الفانكشن) و list() (الفانكشن) n-3

### -مثال -1

In [122]:
print(list(range(1,4)))

[1, 2, 3]

### -مثال -2

In [123]:
for each_number in list(range(1, 4)):
    print(each_number)

1
2
3

### -مثال -3

In [124]:
for each_number in range(1, 4):
    print(each_number)

1
2
3

### -مثال -4

In [125]:
for each_number in range(1, 16, 2):
    print(each_number)

1
3
5
7
9
11
13
15

### -مثال -5

In [126]:
for number in range(5,-10,-5):
    print(number)

5
0
-5

## دينامية اللوائح في (پايثون) n-4

### استخدام الأسلوب الدينامي لانشاء لائحة بنتائج الأس 10 للأعداد من 0 إلى 10

In [127]:
exponent_table = []
for each_number in range(0, 11):
    exponent_table.append(each_number ** 10)
print(exponent_table)

[0, 1, 1024, 59049, 1048576, 9765625, 60466176, 282475249, 1073741824, 3486784401, 10000000000]

## sum() و max() و min() و len() فانكشن) الاحصاء) n-5

### -مثال -1

In [128]:
eg1 = [78, "fish", "duck", 404, "pencil"]
eg2 = [5, 0, 10, 2, 3]
print(len(eg1))
print(max(eg2))
print(min(eg2))
print(sum(eg2))

5
10
0
20

### -مثال -2

In [129]:
brands = ['Xiaomi', 'apple', 'SAMSUNG']
print(max(brands))
print(min(brands))

apple
SAMSUNG

### -مثال -3

In [130]:
name = "SteveJobs"
print(max(name))
print(min(name))
print(len(name))

v
J
9

## (سلايس Slice) تقسيم اللائحة إلى أجزاء n-6

### (كود السلايس) n-6.1

In [131]:
sandwiches = ["Fajitas", "Burger", "Mexican", "Kebab", "Shawarma", "Shrimp"]
sandwiches_slice = sandwiches[0:3]
print(sandwiches_slice)
print(sandwiches[:5])
print(sandwiches[-3:])

['Fajitas', 'Burger', 'Mexican']
['Fajitas', 'Burger', 'Mexican', 'Kebab', 'Shawarma']
['Kebab', 'Shawarma', 'Shrimp']

### .copy() نسخ اللوائح باستخدام (كود السلايس)، أو (الميثود) n-6.2

#### نسخ اللائحة باستخدام (كود السلايس)

In [132]:
shop = ["bread", "meat", "eggs", "vegetables"]
shop_copy = shop[:]
shop_copy.append("fruits")
print(shop_copy)
print(shop)

['bread', 'meat', 'eggs', 'vegetables', 'fruits']
['bread', 'meat', 'eggs', 'vegetables']

#### .copy() نسخ اللائحة بواسطة (الميثود)

In [133]:
shop = ["bread", "meat", "eggs", "vegetables"]
shop_copy = shop.copy()
shop_copy.append("fruits")
print(shop_copy)
print(shop)

['bread', 'meat', 'eggs', 'vegetables', 'fruits']
['bread', 'meat', 'eggs', 'vegetables']

## تعريف اللوائح بالأسلوب الفهمي n-7

### استخدام الأسلوب الفهمي لانشاء لائحة بنتائج الأس 10 للأعداد من 0 إلى 10

In [134]:
exponent_table = [x**10 for x in range(0,11)]
print(exponent_table)

[0, 1, 1024, 59049, 1048576, 9765625, 60466176, 282475249, 1073741824, 3486784401, 10000000000]

### مثال -1- استخدام الأسلوب الفهمي لتحويل حروف عناصر اللائحة إلى حروف كبيرة

In [135]:
shop_1 = ["bread", "meat", "eggs", "vegetables"]
shop_2 = [name.upper() for name in shop_1]
print(shop_2)

['BREAD', 'MEAT', 'EGGS', 'VEGETABLES']

### مثال -2- استخدام الأسلوب الفهمي لانشاء لائحة بنتائج تربيع الأعداد من 0 إلى 10

In [136]:
power_of_2 = [number**2 for number in range(0, 11)]
print(power_of_2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### مثال -3- استخدام الأسلوب الفهمي لانشاء لائحة بنتائج جدول الضرب للعدد 3

In [137]:
three_times = [number*3 for number in range(0, 11)]
print(three_times)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

## تمرين الفصل الثالث

### 1

In [138]:
dream_cars = ["Rolls Royce", "Bentley", "Mercedes Maybach", "Lamborghini", "Ferrari"]

#### 1.1

In [139]:
print(dream_cars[0])

Rolls Royce

#### 1.2

In [140]:
print("The second car i wish to own is" + " " + dream_cars[1])

The second car i wish to own is Bentley

#### 1.3

In [141]:
print("The price of " + dream_cars[3] + " is around 200,000.00 USD")

The price of Lamborghini is around 200,000.00 USD

#### 1.4

In [142]:
car5 = dream_cars.pop()
print(car5)

Ferrari

#### 1.5

In [143]:
del dream_cars[3]
dream_cars.remove("Mercedes Maybach")

#### 1.6

In [144]:
dream = dream_cars

#### 1.7

In [145]:
dream[1] = "iphone"

#### 1.8

In [146]:
dream.insert(0, "Social activist")

#### 1.9

In [147]:
costs = dream[:]

#### 1.10

In [148]:
costs[0] = 0 #استخدمت الرقم صفر لأن هذا العمل الإنساني هو عمل تطوعي نبيل
costs[1] = 340000
costs[2] = 1200

#### 1.11

In [149]:
print("The highest numerical value in the 'costs' list is " + str(max(costs)) + ", the lowest number in this list is " + str(min(costs)) + ", and the sum of the elements of this list is " + str(sum(costs)))

The highest numerical value in the 'costs' list is 340000, the lowest number in this list is 0, and the sum of the elements of this list is 341200

#### 1.12

In [150]:
for cost in costs:
    print(str(cost) + "$")

0$
340000$
1200$

#### 1.13

In [151]:
print(sorted(costs))
print(sorted(costs, reverse = True))
print(costs)

[0, 1200, 340000]
[340000, 1200, 0]
[0, 340000, 1200]

### 2

In [152]:
number_list = list(range(1,1001))
print(len(number_list))

1000

### 3

In [153]:
teams = ["KSA", "Qatar", "Morocco","Tunisia"]
#لقد رتبت اللائحة على هذا النحو، ولكنها جميعاً بلدان غالية على قلبي كثيرا

#### 3.1

In [154]:
teams.reverse()
print(teams)

['Tunisia', 'Morocco', 'Qatar', 'KSA']

#### 3.2

In [155]:
teams.reverse()
print(teams)

['KSA', 'Qatar', 'Morocco', 'Tunisia']

### 4

In [156]:
cube = []
for digit in range(1, 6):
    cube.append(digit**3)
print(cube)

[1, 8, 27, 64, 125]

### 5

In [157]:
ten_times = list(range(0, 101, 10))
print(ten_times)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### 6

In [158]:
quarters = [a/4 for a in range(1, 11)]
print(quarters)

[0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5]

#### 6.1

In [159]:
print(quarters[-2:])

[2.25, 2.5]

# -الفصل -4

## (if !=) وإذا كان يختلف ،(if ==) إذا كان يساوي n-1

#### مثال -1.1- استخدام عامل التساوي (==) في الشرط✔

In [160]:
car = "Ferrari"
if car == "Ferrari":
    print("I did it")

I did it

#### مثال -1.2- استخدام عامل التساوي (==) في الشرط❌

In [161]:
car = "Ferrari"
if car == "ferrari":
    print("I did it")

#### مثال -2.1- استخدام عامل الاختلاف (!=) في الشرط✔

In [162]:
car = "Ferrari"
if car != "ferrari":
    print("I did it")

I did it

#### مثال -2.2- استخدام عامل الاختلاف (!=) في الشرط❌

In [163]:
car = "Ferrari"
if car != "Ferrari":
    print("I did it")

### تجاهل حالة الحروف في الشرط n-1.1

In [164]:
name = "AHMAD"
if name.lower() == "ahmad":
    print("Done")

Done

## (if not in) وإذا لم يكن في ،(if in) إذا كان في n-2

#### (if in) مثال -1- إذا كان في✔

In [165]:
names = ["Hanin", "Rama", "Hadil"]
if "Hadil" in names:
    print("Done")

Done

#### (if not in) مثال -2- إذا لم يكن في❌

In [166]:
names = ["Hanin", "Rama", "Hadil"]
if "Hadil" not in names:
    print("Done")

## (if <) وإذا كان أصغر من ،(if >) إذا كان أكبر من n-3

#### (if >) مثال -1- إذا كان أكبر من✔

In [167]:
num = [5, 2, 2, 2]
if sum(num) > 10:
    print("Done")

Done

#### (if <) مثال -2- إذا كان أصغر من❌

In [168]:
num = [5, 2, 2, 2]
if sum(num) < 10:
    print("Done")

#### (if >=) مثال -3- إذا كان أكبر من أو يساوي❌

In [169]:
num = [5, 1, 1, 1]
if sum(num) >= 10:
    print("Done")

#### (if <=) مثال -4- إذا كان أصغر من أو يساوي✔

In [170]:
num = [5, 1, 1, 1]
if sum(num) <= 8:
    print("Done")

Done

## or (و (الكيوورد and صياغة الشرط المركّب باستخدام (الكيوورد) n-4

#### (if x and y) -1- مثال✔

In [171]:
num = [5, 2, 2, 1]
if sum(num) >= 10 and num[0] == 5:
    print("Done")

Done

#### (if x or y) -2- مثال✔

In [172]:
num = [5, 2, 2, 1]
if sum(num) >= 15 or num[0] == 5:
    print("Done")

Done

#### if (x and y) or (z) -3- مثال✔

In [173]:
num = [5, 2, 2, 1, "Ahmad"]
if (sum(num[0: 4]) >= 10 and num[0] == 5) or (num[0] == "Ahmad"):
    print("Done")

Done

## if-elif-elif…-else السلسلة n-5

### if-else السلسلة n-5.1

#### (if-else) -1- مثال

In [174]:
colors = ['tef', 'green', 'blue', 'white']
if "red" in colors:
    print("The red color was found")
else: 
    print("No, the red color was not found")

No, the red color was not found

#### (if-else) -2- مثال

In [175]:
colors = ['cyan', 'magenta', 'yellow', 'black'] 
if "cyan" in colors and len(colors) == 4:
    print("The cyan color was found")
else:
    print("No, the cyan color was not found")

The cyan color was found

### if-elif-else السلسلة n-5.2

#### (if-elif-else) -1- مثال

In [176]:
grade = 5.5
if grade > 6: 
    print("Exam passed!")
elif grade >= 5 and grade <= 6:
    print("Retake the exam for another chance")
else: 
    print("Exam not passed!")

Retake the exam for another chance

#### (if-elif-else) -2- مثال

In [177]:
grade = 8
if grade > 6 and grade < 9:
    print("Exam passed!")
    print("Visit us soon.")
    print("Or register the new course via email.")
elif grade >= 9: 
    print("Excellent! Exam passed!") 
    print("Visit us soon to celebrate.") 
else: 
    print("Exam not passed!")
    print("Visit us soon to reregister the course.")

Exam passed!
Visit us soon.
Or register the new course via email.

#### (if-elif-elif-else) مثال

In [178]:
num = [5, 2, 2, 1]
if sum(num) == 9:
    print("Ok")
elif num[1] == 5:
    print("Yes")
elif max(num) == 5:
    print("Done")
else:
    print("Failed")

Done

#### (if-elif-elif-else) مثال

In [179]:
num = [5, 2, 2, 1]
if sum(num) == 9:
    print("Ok")
elif num[1] == 5:
    print("Yes")
elif min(num) == 2:
    print("Done")
else:
    print("Failed")

Failed

#### (if-elif-elif-elif) مثال

In [180]:
num = [5, 2, 2, 1]
if sum(num) == 9:
    print("Ok")
elif num[-1] == 1:
    print("Yes")
elif min(num) == 2:
    print("Done")
elif max(num) == 5:
   print("Failed")

Yes

## تمرين الفصل الرابع

### 1

#### 1.1 / 1.2

In [181]:
amount = 0 #قم بتعديل هذا السطر لاحقاً أثناء التمرين
if amount == 0:
    print("Free of charge.")
else:
    print("Get exciting deals, don't miss our sale!")

Free of charge.

### 1.3 / 1.4 / 1.5

In [182]:
if amount < 10:
    print("Discount not available for this amount.")
elif amount >= 10 and amount < 30:
    print("Discount 20%")
else:
    print("Discount 40%")

Discount not available for this amount.

### 2

In [183]:
names = ["samar", "SAMAR", "Ahmad", "Sahar", "Amal"]
for name in names:
   if name.lower() == "samar":
       print(name)

samar
SAMAR

### 3

#### 3.1

In [184]:
members = [ ]
if len(members) == 0:
    print("List is empty.")

List is empty.

#### 3.2

In [185]:
members = ["Ahmad Al-Khatib", "Prof. Khaled Hankir", "Prof. Ahmed Al-Emadi", "Dr. Khalid Al-Rajhi"]
for member in members:
   if member == "Ahmad Al-Khatib":
       print("My name is " + member)
   else:
       print("My friend name is " + member)

My name is Ahmad Al-Khatib
My friend name is Prof. Khaled Hankir
My friend name is Prof. Ahmed Al-Emadi
My friend name is Dr. Khalid Al-Rajhi

# -الفصل -5

## (التپل Tuple) n-1

In [186]:
rgb_colors = ("red", "green", "blue")

In [187]:
print(rgb_colors[0])

red

In [188]:
print(rgb_colors[0:2])

('red', 'green')

In [189]:
print(sorted(rgb_colors))

['blue', 'green', 'red']

In [190]:
del rgb_colors[0]

TypeError: 'tuple' object doesn't support item deletion

In [191]:
rgb_colors.sort()

AttributeError: 'tuple' object has no attribute 'sort'

## (Dictionary دكشنري) القاموس n-2

In [192]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}

### كود ڤاليو) القاموس) n-2.1

In [193]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
kobe_height = team['Kobe Bryant']
print(kobe_height)

1.98

### تعديل القاموس n-2.2

#### اضافة الأزواج إلى القاموس بواسطة (كود الڤاليو) n-2.2.i

In [194]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
team['Dennis Rodman'] = 2.01
print(team)

{'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98, 'Dennis Rodman': 2.01}

#### del حذف الأزواج من القاموس بواسطة (الكيوورد) n-2.2.ii

In [195]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
del team['Shaquille ONeal']
print(team)

{'Michael Jordan': 1.98, 'Kobe Bryant': 1.98}

#### تعديل (ڤاليو) محدد من القاموس بواسطة (كود الڤاليو) n-2.2.iii

In [196]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
team['Michael Jordan'] = '1.98 m'
print(team)

{'Michael Jordan': '1.98 m', 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}

### .items() .values() .keys() (الميثود) n-2.3

#### .items() عرض لائحة أزواج القاموس بواسطة (الميثود)

In [197]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
print(team.items())

dict_items([('Michael Jordan', 1.98), ('Shaquille ONeal', 2.16), ('Kobe Bryant', 1.98)])

#### .keys() عرض لائحة مفاتيح القاموس بواسطة (الميثود)

In [198]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
print(team.keys())

dict_keys(['Michael Jordan', 'Shaquille ONeal', 'Kobe Bryant'])

#### .values() عرض لائحة (ڤاليو) القاموس بواسطة (الميثود)

In [199]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
print(team.values())

dict_values([1.98, 2.16, 1.98])

### على القاموس for تنفيذ (اللوپ) n-2.4

#### على مفاتيح القاموس for تنفيذ (اللوپ) n-2.4.i

##### على مفاتيح القاموس عبر تنفيذها على القاموس مباشرة for تنفيذ (اللوپ)

In [200]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
for player in team:
    print(player)

Michael Jordan
Shaquille ONeal
Kobe Bryant

##### .keys() على مفاتيح القاموس عبر استخدام (الميثود) for تنفيذ (اللوپ)

In [201]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
for player in team.keys():
    print(player)

Michael Jordan
Shaquille ONeal
Kobe Bryant

#### .values() على مجموعة (ڤاليو) القاموس عبر استخدام (الميثود) for تنفيذ (اللوپ) n-2.4.ii

In [202]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
for player_height in team.values():
    print(player_height)

1.98
2.16
1.98

#### .items() على أزواح القاموس عبر استخدام (الميثود) for تنفيذ (اللوپ) n-2.4.iii

In [203]:
team = {'Michael Jordan': 1.98, 'Shaquille ONeal': 2.16, 'Kobe Bryant': 1.98}
for player, player_height in team.items():
    print(player)
    print(player_height)

Michael Jordan
1.98
Shaquille ONeal
2.16
Kobe Bryant
1.98

#### مثال آخر

##### على مفاتيح القاموس بحسب ترتيبها التصاعدي for تنفيذ (اللوپ)

In [204]:
domains = {"de": "Germany", "sk": "Slovakia", "hu": "Hungary", "us": "United States", "no": "Norway"}
for domain in sorted(domains.keys()):
    print(domain)

de
hu
no
sk
us

##### على مجموعة (ڤاليو) القاموس بحسب ترتيبها التصاعدي for تنفيذ (اللوپ)

In [205]:
domains = {"de": "Germany", "sk": "Slovakia", "hu": "Hungary", "us": "United States", "no": "Norway"}
for country in sorted(domains.values()):
    print(country)

Germany
Hungary
Norway
Slovakia
United States

##### على مفاتيح القاموس بحسب ترتيبها التنازلي for تنفيذ (اللوپ)

In [206]:
domains = {"de": "Germany", "sk": "Slovakia", "hu": "Hungary", "us": "United States", "no": "Norway"}
for domain in sorted(domains.keys(), reverse = True):
    print(domain)

us
sk
no
hu
de

##### على مجموعة (ڤاليو) القاموس بحسب ترتيبها التنازلي for تنفيذ (اللوپ)

In [207]:
domains = {"de": "Germany", "sk": "Slovakia", "hu": "Hungary", "us": "United States", "no": "Norway"}
for country in sorted(domains.values(), reverse = True):
    print(country)

United States
Slovakia
Norway
Hungary
Germany

##### على أزواح القاموس بحسب ترتيبها التصاعدي for تنفيذ (اللوپ)

In [208]:
numbers = {"one": 1, "two": 2, "three": 3, "four": 4}
for x, y in sorted(numbers.items()):
    print(x + " " + str(y))

four 4
one 1
three 3
two 2

##### على أزواح القاموس بحسب ترتيبها التنازلي for تنفيذ (اللوپ)

In [209]:
numbers = {"one": 1, "two": 2, "three": 3, "four": 4}
for x, y in sorted(numbers.items(), reverse = True):
    print(x + " " + str(y))

two 2
three 3
one 1
four 4

## (Set الست) n-3

In [210]:
rgb_colors = {"red", "green", "blue", "red"}

In [211]:
print(rgb_colors)

{'red', 'blue', 'green'}

In [212]:
rgb_colors = {"red", "green", "blue", "red"}
del rgb_colors[0]

TypeError: 'set' object doesn't support item deletion

In [213]:
rgb_colors = {"red", "green", "blue", "red"}
rgb_colors.sort()

AttributeError: 'set' object has no attribute 'sort'

In [214]:
rgb_colors = {"red", "green", "blue", "red"}
rgb_colors.sort(reverse = True)

AttributeError: 'set' object has no attribute 'sort'

In [215]:
rgb_colors = {"red", "green", "blue", "red"}
rgb_colors.insert(0, "black")

AttributeError: 'set' object has no attribute 'insert'

In [216]:
rgb_colors = {"red", "green", "blue", "red"}
print(sorted(rgb_colors))

['blue', 'green', 'red']

In [217]:
rgb_colors = {"red", "green", "blue", "red"}
rgb_colors.remove("green")
print(rgb_colors)

{'red', 'blue'}

### .update() و .add() (الميثود) و ،set() و tuple() (الفانكشن) n-3.1

In [218]:
names_1 = ['Celina', 'Nour', 'Farah', 'Lama']
print(tuple(names_1))

('Celina', 'Nour', 'Farah', 'Lama')

In [219]:
names_2 = set(names_1)
print(names_2)

{'Celina', 'Farah', 'Nour', 'Lama'}

In [220]:
names_2.add('Rasha') 
print(names_2)

{'Rasha', 'Nour', 'Lama', 'Celina', 'Farah'}

In [221]:
names_2.update(['Layal', 'Lamia', 'Celina', 'Celine'])
print(names_2)

{'Celine', 'Rasha', 'Nour', 'Lama', 'Celina', 'Lamia', 'Layal', 'Farah'}

In [222]:
prices = [400, 460, 470, 400, 480, 460, 430, 410, 400, 410]
print(set(prices))

{480, 460, 430, 400, 470, 410}

## تمرين الفصل الخامس

### 1

In [223]:
nadia = {"last name": "Khatib", "age": "seven", "address": "Mazboud"}

#### 1.1

In [224]:
friends_addresses = {"Jassem": "Jeddah", "Ibrahim": "Doha", "Yasser": "Paris"}

#### 1.2

In [225]:
print(sorted(nadia.values()))
print(sorted(friends_addresses.keys(), reverse = True))

['Khatib', 'Mazboud', 'seven']
['Yasser', 'Jassem', 'Ibrahim']

### 2

In [226]:
expected_salaries = {"Khaled": 20000, "Jassem": 50000, "Mohammad": 30000}

#### 2.1

In [227]:
print(sum(expected_salaries.values()))

100000

#### 2.2

In [228]:
for friend, salary in expected_salaries.items():
    print("I think that " + friend + " salary is around " + str(salary))

I think that Khaled salary is around 20000
I think that Jassem salary is around 50000
I think that Mohammad salary is around 30000

#### 2.3

In [229]:
expected_salaries["Ahmad"] = 0

#### 2.4

In [230]:
for friend, salary in expected_salaries.items():
    if friend == "Ahmad":
        print("Name: " + friend + ", salary: " + str(salary))

Name: Ahmad, salary: 0

#### 2.5

In [231]:
new_dict = {"Ahmad": 0, "Noufa": 20000, "Aisha": 10000}

#### 2.6

In [232]:
for name, salary in new_dict.items():
    if name not in expected_salaries.keys():
        print("I think that " + name + " salary is around " + str(salary))

I think that Noufa salary is around 20000
I think that Aisha salary is around 10000

#### 2.7

In [233]:
set_1 = set(expected_salaries.values())
set_2 = set(new_dict.values())
set_1.update(set_2)
print(set_1)

{20000, 0, 30000, 50000, 10000}

# -6- الفصل

## input() (الفانكشن) n-1

In [235]:
print("حول حروف اسمك إلى حالة حروف كبيرة")
user_data = input(":ادخل اسمك هنا")
print(user_data.upper())

حول حروف اسمك إلى حالة حروف كبيرة

:ادخل اسمك هنا ahmad

AHMAD

### الرقمية input() التعامل مع مُدخلات (الفانكشن) n-1.1

In [237]:
weight_lb = input(" :ادخل الوزن بوحدة الباوند لتحويله إلى وحدة الكيلوغرام")
weight_kg = int(weight_lb) * 0.45359237
print(str(weight_kg) + " الوزن بالكيلوغرام:")

 :ادخل الوزن بوحدة الباوند لتحويله إلى وحدة الكيلوغرام 1

0.45359237 الوزن بالكيلوغرام:

## while أمر التكرار المشروط n-2

In [238]:
#reference = "ON"
#while reference == "ON":
#    print("running")

### while استخدامات عملية (للّوپ)

#### تكرار تنفيذ (الكود) المسؤول عن تشغيل البرنامج، لجعله يستمر بعمله، ولا يتوقف مباشرة بعد تنفيذ أسطر (الكود) لمرة واحدة فقط

In [241]:
prog = "run"
while prog == "run":
    user_text = input(" :Title ادخل النص لتحويله إلى صيغة")
    print(user_text.title())

KeyboardInterrupt: Interrupted by user

#### مثال - استخدام (اللوپ) لحساب وطباعة نتائج الأس 10 للأعداد من 0 إلى 10

In [242]:
x = 0
while x < 11:
    print(x ** 10)
    x = x + 1

0
1
1024
59049
1048576
9765625
60466176
282475249
1073741824
3486784401
10000000000

### while إيقاف (اللوپ) n-2.1

#### (!=) بواسطة استثناء while إيقاف (اللوپ) n-2.1.i

In [243]:
user_text = "Titleادخل النص لتحويله إلى صيغة "
while user_text != "exit":
    print(user_text.title())
    user_text = input(" :ادخل النص هنا")

Titleادخل النص لتحويله إلى صيغة

 :ادخل النص هنا ahmad

Ahmad

 :ادخل النص هنا exit

#### بواسطة مرجع (فلاچ) while إيقاف (اللوپ) n-2.1.ii

In [244]:
running = True
while running:
    message = input("insert text here: ")
    if message == "exit":
        running = False
    elif message == "quit":
        running = False
    else:
        print(message.upper())

insert text here:  ahmad

AHMAD

insert text here:  quit

#### break (الكيوورد) بواسطة while إيقاف (اللوپ) n-2.1.iii

##### break (الكيوورد) بواسطة while مثال -1- إيقاف (اللوپ)

In [245]:
while True:
    message = input("Input message: ")
    if message == "exit":
        break
    else:
        print("Message received.")

Input message:  ahmad

Message received.

Input message:  exit

##### break (الكيوورد) بواسطة for مثال -2- إيقاف (اللوپ)

In [246]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
for letter in letters: 
    if letter == 'd':
        print("Found")
        break

Found

### continue تخطي جولة تكرار معيّنة بواسطة (الكيوورد) n-2.2

#### while مثال -1- تجاوز جولة تكرار محددة من (اللوپ)

In [247]:
base_number = 1
while base_number <= 4:
    base_number = base_number + 1
    if base_number == 3:
        continue
    print(base_number)

2
4
5

#### for مثال -2- تجاوز جولة تكرار محددة من (اللوپ)

In [248]:
colors = ["red", "green", "blue"]
for color in colors:
    if color == "red":
        continue
    print(color)

green
blue

### while نماذج عملية لاستخدام (اللوپ) n-2.3

#### نقل العناصر من حاوية بيانات إلى أخرى n-2.3.i

In [249]:
list_1 = ["Newcastle", "Arsenal", "Man Utd", "Man City"]
list_2 = []
while list_1:
    item = list_1.pop()
    list_2.append(item)
print(list_2)

['Man City', 'Man Utd', 'Arsenal', 'Newcastle']

#### حذف عناصر متكررة من اللائحة n-2.3.ii

In [250]:
available_devices = ["PC", "PS5", "PS4", "PC", "Apple TV", "NVIDIA SHIELD"]
while "PC" in available_devices:
    available_devices.remove("PC")
print(available_devices)

['PS5', 'PS4', 'Apple TV', 'NVIDIA SHIELD']

## تمرين الفصل السادس

In [252]:
print("""لتصفح الأفلام أدخل كلمة: أفلام
لتصفح المسلسلات أدخل كلمة: مسلسلات
أو أدخل اسم الفيلم أو المسلسل لمزيد من المعلومات
أو أدخل كلمة طاقم يليها اسم الفيلم أو المسلسل لطاقم الممثلين""")
أفلام = ["قلب شجاع", "المجالد"]
مسلسلات = ["لعبة العروش", "بين"]
الاعمال = {"قلب شجاع": {"السنة": 1995, "المخرج": "ميل جيبسون", "النوع": "دراما تاريخية"}, "المجالد": {"السنة": 2000, "المخرج": "ردلي سكوت", "النوع": "طابع تاريخي خيالي"}, "لعبة العروش": {"السنة": 2011, "المخرج": "آلن تيلور", "النوع": "أكشن خيالي"}, "بين": {"السنة": 1990, "المخرج": "جون هاورد ديفيس", "النوع": "كوميدي"}}
الممثلون = {"قلب شجاع": ["ميل جيبسون", "كاثرين ماكورماك", "براندن جليسون"], "المجالد": ["راسل كراو", "جواكين فينكس", "كوني نلسن"], "لعبة العروش": ["إيميليا كلارك", "سوفي ترنر", "كيت هارنجتون"], "بين": ["روان أتكنسون", "روبن دريسكول", "ماتيلدا زيجلر"]}
while True:
    message = input(" :أدخل الاسم هنا")
    if message == "أفلام":
        print(أفلام)
    elif message == "مسلسلات":
        print(مسلسلات)
    elif message in الاعمال.keys():
        print(الاعمال[message])
    elif message == "خروج":
        break
    for عمل in الممثلون.keys():
        if عمل in message and "طاقم" in message:
            print(الممثلون[عمل])

لتصفح الأفلام أدخل كلمة: أفلام
لتصفح المسلسلات أدخل كلمة: مسلسلات
أو أدخل اسم الفيلم أو المسلسل لمزيد من المعلومات
أو أدخل كلمة طاقم يليها اسم الفيلم أو المسلسل لطاقم الممثلين

 :أدخل الاسم هنا بين

{'السنة': 1990, 'المخرج': 'جون هاورد ديفيس', 'النوع': 'كوميدي'}

 :أدخل الاسم هنا خروج

# -7- الفصل

## (كود تعريف (الفانكشن n-1

#### Done تعريف (فانكشن) تؤدي إلى طباعة كلمة

In [253]:
def function_name():
    """Function docstring"""
    print("Done")

In [254]:
function_name()

Done

#### تعريف (فانكشن) تؤدي إلى طباعة العدد صفر

In [255]:
def zero():
    """This function prints the number zero when called"""
    print(0)

In [256]:
zero()

0

### تعريف (فانكشن) تستقبل (ارچومنت) n-1.1

In [257]:
def upper_text(text):
    """This function converts text to uppercase"""
    print(text.upper())

In [258]:
upper_text("hello friends")

HELLO FRIENDS

### تعريف (فانكشن) تستقبل أكثر من (ارچومنت) واحد n-1.2

In [259]:
def message_function(الاسم, الوظيفة):
    """طباعة رسالة مشتركة لمستخدمي تطبيق الويب"""
    print(".حضرة " + الوظيفة + " " + الاسم + "، إذا واجهت أي مشكلة، تواصل مع الطاقم الفني")
    print(".طاقم المنصة الفني")

In [260]:
message_function("حسن جمول", "الاعلامي")

.حضرة الاعلامي حسن جمول، إذا واجهت أي مشكلة، تواصل مع الطاقم الفني
.طاقم المنصة الفني

In [261]:
message_function(الوظيفة = "الدكتور", الاسم = "أنس الخطيب")
message_function(الاسم = "أنس الخطيب", الوظيفة = "الدكتور")

.حضرة الدكتور أنس الخطيب، إذا واجهت أي مشكلة، تواصل مع الطاقم الفني
.طاقم المنصة الفني
.حضرة الدكتور أنس الخطيب، إذا واجهت أي مشكلة، تواصل مع الطاقم الفني
.طاقم المنصة الفني

### تحديد قيمة أساسية (للپرميتر) n-1.3

In [262]:
def summation(a, b, c = 5):
   """This simple function performs the operation: a+b+c"""
   print(a + b + c)

In [263]:
summation(10, 5)

20

In [264]:
summation(10, 10, 30)

50

### return (الكيوورد) n-1.4

In [265]:
def greeting_message(name):
    """The purpose of this function is to return a greeting message"""
    return "Dear " + name + " it was a pleasure to meet with you again."

In [266]:
phrase = greeting_message("Sheikha Noufa")
print(phrase)

Dear Sheikha Noufa it was a pleasure to meet with you again.

### ادراج (اللوپ) في وظيفة (الفانكشن) n-1.5

#### (في وظيفة (الفانكشن for مثال -1- ادراج (اللوپ)

In [267]:
def loop_function(elements):
    """A simple function to iterate through a given iterable"""
    for element in elements:
        print("Take care, " + element + ". Come back and visit us soon!")

In [268]:
guests = ["Faten", "Lujain", "Walid"]
loop_function(guests)

Take care, Faten. Come back and visit us soon!
Take care, Lujain. Come back and visit us soon!
Take care, Walid. Come back and visit us soon!

#### (في وظيفة (الفانكشن while مثال -2- ادراج (اللوپ)

In [269]:
def transfer_elements(list_1, list_2):
    """A simple function to transfer elements from a list to another list"""
    while list_1:
        item = list_1.pop()
        list_2.append(item)

In [270]:
numbers = [1, 2, 3, 4, "one", "two"]
new_numbers = []
transfer_elements(numbers, new_numbers)
print(new_numbers)

['two', 'one', 4, 3, 2, 1]

### *args تعريف (فانكشن) تستقبل عدداً مفتوحاً من (الأرچومنت) n-1.6

In [271]:
def participants(*names):
    """This simple function prints participants names"""
    for name in names:
        print(name)

In [272]:
participants("Maya", "Diana", "Hicham", "Fadi")

Maya
Diana
Hicham
Fadi

### **kwargs تعريف (فانكشن) تستقبل عدداً مفتوحاً من أزواج (الكيوورد ارچومنت) n-1.7

In [273]:
def demonstrate(**pairs):
    """A simple demonstrative **kwargs function"""
    print(pairs)

In [274]:
demonstrate(Rolex_Panda = 16050, Patek_Philippe5712 = 98500, RM_O55 = 327000)

{'Rolex_Panda': 16050, 'Patek_Philippe5712': 98500, 'RM_O55': 327000}

In [275]:
def print_pairs(**duo):
    """A simple demonstrative **kwargs function"""
    for watch, price in duo.items():
        print("The " + watch + " luxury watch is priced at $" + str(price))

In [276]:
print_pairs(Rolex_Panda = 16050, Patek_Philippe5712 = 98500, RM_O55 = 327000)

The Rolex_Panda luxury watch is priced at $16050
The Patek_Philippe5712 luxury watch is priced at $98500
The RM_O55 luxury watch is priced at $327000

In [277]:
watches = {"Rolex Panda": 16050, "Patek Philippe 5712": 98500, "RM O55": 327000}
print_pairs(**watches)

The Rolex Panda luxury watch is priced at $16050
The Patek Philippe 5712 luxury watch is priced at $98500
The RM O55 luxury watch is priced at $327000

## تمرين الفصل السابع

### 1

In [278]:
def nol(name = "Ahmad", occupation = "Public Relations", location = "Lebanon"):
    """This function prints a sentence about name, occupation, and location"""
    print(name + " occupation in " + location + " is in the field of " + occupation + ".")

nol()

Ahmad occupation in Lebanon is in the field of Public Relations.

### 2

In [279]:
def blood_type(name, bloodtype):
    """This simple function prints a sentence about name, and bloodtype"""
    print("The blood type of " + name + " is " + bloodtype + ".")

blood_type("Ahmad", "O+")

The blood type of Ahmad is O+.

### 3

In [280]:
names = ["Ahmad", "Yasser", "Hazar", "Rami"]
def amigos(friends):
    """A simple looping function"""
    for friend in friends:
        if friend == "Ahmad":
            print("My name is " + friend + ".")
        else:
            print("The name of my friend is " + friend + ".")

amigos(names)

My name is Ahmad.
The name of my friend is Yasser.
The name of my friend is Hazar.
The name of my friend is Rami.

### 4

In [281]:
def mob(**pairs):
    """A simple **kwargs looping function"""
    for phone, mfr in pairs.items():
        print("The " + phone +  " is a line of smartphones produced by " + mfr + ".")

mob(iphone = "Apple Inc", Galaxy = "Samsung Electronics")

The iphone is a line of smartphones produced by Apple Inc.
The Galaxy is a line of smartphones produced by Samsung Electronics.

### 5

In [282]:
a = [1, 2, 3, 4, 5]
b = []
c = []

### 5.1

In [283]:
def transfer(list_1, list_2):
    """A simple function to transfer elements from a list to another list"""
    while list_1:
        item = list_1.pop()
        list_2.append(item)

transfer(a, b)

### 5.2

In [284]:
transfer(b[:], c)

### 5.3

In [285]:
print(a)
print(b)
print(c)

[]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

# -8- الفصل

## (كود تعريف الكلاس) n-1

In [286]:
class Robot():
   """This class represents a robot that can perform actions"""
   def __init__(self, name, color):
      """Initialize name and color attributes"""
      self.name = name
      self.color = color
   def sit(self):
      """Make a robot sit in response to a command"""
      print(self.name + " is sitting")
   def walk(self):
      """Make a robot walk in response to a command"""
      print(self.name + " is walking")

##### استخراج (أوبجكت) من خلال (الكلاس)

In [287]:
robot_1 = Robot("Eve", "white")

##### استدعاء واحدة من (الميثود) التي قمنا بتعريفها ضمن (الكلاس)

In [288]:
robot_1.sit()

Eve is sitting

### (كود الأتربيوت وبعض طرق تعديله) n-1.1

In [289]:
class Player():
   """A basic class to create bots representing football players"""
   def __init__(self, name, number, position):
      """Initialize bot name, number, & position attributes"""
      self.name = name
      self.number = number
      self.position = position
   def shortdescr(self):
      """Print a short description about football player bot"""
      print(self.name + " |No.: " + self.number + " |Pos.: " + self.position)

In [290]:
player_1 = Player("Ronaldo", "7", "Striker")
player_1.shortdescr()

Ronaldo |No.: 7 |Pos.: Striker

##### (كود الأتربيوت)

In [291]:
print(player_1.name)

Ronaldo

#### تعديل (الأتربيوت) مباشرةً بواسطة (الكود) n-1.1.i

In [292]:
player_1.name = "Messi"
player_1.number = "30"
player_1.position = "Attacking midfielder"

In [293]:
player_1.shortdescr()

Messi |No.: 30 |Pos.: Attacking midfielder

#### تعديل (الأتربيوت) بواسطة (الميثود) n-1.1.ii

In [294]:
class Player():
   """A basic class to create bots representing football players"""
   def __init__(self, name, number, position):
      """Initialize bot name, number, & position attributes"""
      self.name = name
      self.number = number
      self.position = position
   def shortdescr(self):
      """Print a short description about football player bot"""
      print(self.name + " |No.: " + self.number + " |Pos.: " + self.position)
   def pno(self, number):
      """Update player number attribute"""
      self.number = number

In [295]:
player_1 = Player("Ronaldo", "7", "Striker")
player_1.name = "Messi"
player_1.number = "30"
player_1.position = "Attacking midfielder"

In [296]:
player_1.pno("10")
player_1.shortdescr()

Messi |No.: 10 |Pos.: Attacking midfielder

### تحديد قيمة أساسية (للأتربيوت) n-1.2

In [297]:
class F1():
   """A basic class to create objects representing F1 cars"""
   def __init__(self, manufacturer, driver, color = "grey"):
      """Initialize F1 car attributes"""
      self.manufacturer = manufacturer
      self.driver = driver
      self.color = color
      self.horsepower = 1000
      self.enginesize = 1.6
   def describe(self):
      """Print a short description about F1 car"""
      print(self.driver + " drives the " + self.color + " " + self.manufacturer + ", which is equipped with a " + str(self.enginesize) + " L engine, and has a maximum horsepower of " + str(self.horsepower))

In [298]:
car_1 = F1("McLaren", "Hamilton")

In [299]:
car_1.describe()

Hamilton drives the grey McLaren, which is equipped with a 1.6 L engine, and has a maximum horsepower of 1000

In [300]:
car_2 = F1("Ferrari", "Schumacher", "red")

In [301]:
car_2.horsepower = 865
car_2.enginesize = 3.0

In [302]:
car_2.describe()

Schumacher drives the red Ferrari, which is equipped with a 3.0 L engine, and has a maximum horsepower of 865

### تعريف (كلاس) فرعي انطلاقًا من (كلاس) أساسي آخر n-1.3

In [303]:
class F1():
   """A basic class to create objects representing F1 cars"""
   def __init__(self, manufacturer, driver, color = "grey"):
      """Initialize F1 car attributes"""
      self.manufacturer = manufacturer
      self.driver = driver
      self.color = color
      self.horsepower = 1000
      self.enginesize = 1.6
   def describe(self):
      """Print a short description about F1 car"""
      print(self.driver + " drives the " + self.color + " " + self.manufacturer + ", which is equipped with a " + str(self.enginesize) + " L engine, and has a maximum horsepower of " + str(self.horsepower))

In [304]:
class Rally(F1):
   """A subclass to create objects representing rally cars"""
   def __init__(self, manufacturer, driver, color, engine):
      """Initialize superclass attributes"""
      super().__init__(manufacturer, driver, color)
      self.engine = engine
   def eng_code(self):
      """Print rally car engine code"""
      print(self.manufacturer + " engine code: " + self.engine)

In [305]:
rally_car = Rally("Mitsubishi", "Roger Feghali", "red", "4G63")

In [306]:
rally_car.horsepower = "550+"
rally_car.enginesize = "2.0"

In [307]:
rally_car.describe()

Roger Feghali drives the red Mitsubishi, which is equipped with a 2.0 L engine, and has a maximum horsepower of 550+

In [308]:
rally_car.eng_code()

Mitsubishi engine code: 4G63

## تمرين الفصل الثامن

In [318]:
class ACCC():
    """A basic class to create objects representing football clubs"""
    def __init__(self, team = "Al-Nassr", country = "KSA", coach = "Rudi Garcia", captain = "Sultan Al-Ghanem"):
        """Initialize football club attributes"""
        self.team = team
        self.country = country
        self.coach = coach
        self.captain = captain
        self.goals = 0
    def describe(self):
        """Print a short description about the football club"""
        print("The elite football club, " + self.team + ", representing " + self.country + ", is set to compete in the 'Arab Club Champions Cup', Under the guidance of Coach " + self.captain + ", and the leadership of Captain " + self.captain + ".")
    def goals_increment(self, x):
        """Increment the team goals by x amount"""
        self.goals = self.goals + x
    def score(self):
        """Print the total number of goals scored by the team"""
        print("The " + self.team + " has scored a total of " + str(self.goals) + " goal/s.")

In [319]:
altarajji = ACCC("Al-Tarajji", "Tunisia", "Nabil Maaloul", "Khalil Chamem")
alrajaa = ACCC("Al-Rajaa", "Morocco", "Monzer Al-Kabir", "Mohsen Metwalli")
altarajji.describe()

The elite football club, Al-Tarajji, representing Tunisia, is set to compete in the 'Arab Club Champions Cup', Under the guidance of Coach Khalil Chamem, and the leadership of Captain Khalil Chamem.

In [320]:
alrajaa.describe()

The elite football club, Al-Rajaa, representing Morocco, is set to compete in the 'Arab Club Champions Cup', Under the guidance of Coach Mohsen Metwalli, and the leadership of Captain Mohsen Metwalli.

In [321]:
alnassr = ACCC()
alnassr.describe()

The elite football club, Al-Nassr, representing KSA, is set to compete in the 'Arab Club Champions Cup', Under the guidance of Coach Sultan Al-Ghanem, and the leadership of Captain Sultan Al-Ghanem.

In [322]:
alrajaa.goals_increment(1)
alrajaa.score()

The Al-Rajaa has scored a total of 1 goal/s.

In [323]:
class Player(ACCC):
   """A subclass to create objects representing football players"""
   def __init__(self, team, country, coach, captain, name, position):
      """Initialize subclass attributes"""
      super().__init__(team, country, coach, captain)
      self.name = name
      self.position = position
      self.yellow_card = 0
      self.red_card = 0
   def player(self):
      """Print a short description about the football player"""
      print("As a " + self.position + ", " + self.name + " plays for " + self.team + " in the 'Arab Club Champions Cup'.")
   def cards(self):
      """Print how many times a player has been carded"""
      print(self.name + " has been yellow-carded " + str(self.yellow_card) + " times, and red-carded " + str(self.red_card) + " times.")
   def check(self):
      """Print whether the player can participate in the next match or not"""
      if self.yellow_card < 2 and self.red_card <1:
         print("Can participate in the next match")
      else:
         print("Misses next match")

In [324]:
ronaldo = Player("Al-Nassr", "KSA", "Rudi Garcia", "Sultan Al-Ghanem", "Ronaldo", "striker")
ronaldo.player()

As a striker, Ronaldo plays for Al-Nassr in the 'Arab Club Champions Cup'.

In [325]:
ronaldo.red_card = 1
ronaldo.cards()

Ronaldo has been yellow-carded 0 times, and red-carded 1 times.

In [326]:
ronaldo.check()

Misses next match